.echomind-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin-top: 200px;
}

.echomind-title {
    font-size: 40px;
    font-weight: 700;
    color: white;
}

.echomind-description {
    font-size: 20px;    
    color: rgb(160, 160, 160);
    margin-bottom: 20px;
    width: 800px;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.drop-area {
    position: relative;
    height: 100px;
    width: 500px;
    border: 7px dashed gray;
    border-radius: 30px;
    cursor: pointer;
}

.file-input {
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.upload-span {
    transform: translate(-50%, -50%);
    color: var(--primary-gray);
    font-size: 25px;
    font-weight: 700;
    position: absolute;
    left: 50%;
    top: 50%;
}

.record-audio {
    width: fit-content;
    background: none;
    padding: 15px 30px;
    color: white;
    text-decoration: underline;
    font-weight: 700;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: var(--primary-border-radius);
    transition: background-color var(--primary-transition), border var(--primary-transition);
    outline: none;
    margin-top: -20px;
}

.result-container { 
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 800px;
    margin-top: 30px;
}

.preview {
    width: 300px;
    margin-top: 30px;
    display: none;
}

.prediction-span, .confidence-span {
    font-size: 30px;
    font-weight: 700;
    color: rgb(73, 240, 123);
}

.prediction-value, .confidence-value {
    color: white;
}

.prompt-input {
    background: none;
    border: 2px solid var(--primary-dark-hover);
    padding: 15px 20px;
    width: 600px;
    outline: none;
    border-radius: 30px;
    color: white;
    font-size: 20px;
}

.prompt-input:focus {
    border: 2px solid var(--primary-color);
}

.submit {
    width: fit-content;
    padding: 10px 30px;
    color: white;
    font-weight: 700;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: var(--primary-border-radius);
    background-color: var(--primary-hover);
    transition: background-color var(--primary-transition), border var(--primary-transition);
    border: 2px solid var(--primary-hover);
    outline: none;
    margin-top: 20px;
}

.submit:hover {
    background-color: var(--primary-dark-hover);
    border: 2px solid var(--primary-dark-hover);
}

.note {
    margin-top: 10px;
    font-size: 15px;
    width: 500px;
    color: rgb(160, 160, 160);
    text-decoration: underline;
}

@media only screen and (max-width: 800px) {
    .echomind-section, .result-container {
        width: 90%;
    }

    .echomind-description {
        width: 80%;
    }

    .prompt-input {
        width: 80%;
    }
}

@media only screen and (max-width: 500px) {
    .drop-area {
        width: 90%;
    }

    .selects-container {
        gap: 5px;
    }

    .echomind-select {
        width: 150px;
        font-size: 15px;
    }

    .preview {
        width: 100%;
    }

    .echomind-title {
        font-size: 30px;
    }

    .echomind-description {
        font-size: 18px;
    }

    .echomind-btns-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .prompt-input {
        width: 90%;
        font-size: 18px;
    }

    .note {
        font-size: 10px;
        width: 80%;
    }
}
